bin/
obj/
.vs/

*.suo
*.psess
*.vsp
*.vspx
FodyWeavers.xsd
packages/

BenchmarkDotNet.Artifacts/
*.DotSettings.user

*.code-workspace

.idea/

# Docs
config.wyam.*
docs/output/**

build-artifacts/**
StrykerOutput/**
